<h1>Friday Night Funkin' Browser list<h1>
<a href="/info"<p style="color:blue">View changelog and additional information here</a>
<a href="/lag"<p style="color:red">how to get less lag on a chromebook</a>
<li><a href="/week6"<p style="color:white">week6</a></li>
<li><a href="/week7"<p style="color:black">week7 (ripped by hyperwood, a cool guy!)</a></li>






<h1>Friday Night Funkin' Browser Mods list<h1>
<li><a href="/annie"<p style="color:red">VS. Annie</a></li>
<li><a href="/b3"<p style="color:white">B3 remixed</a></li>
<li><a href="/beatsteets"<p style="color:darkorange">Beatsreets</a></li>
<li><a href="/brightside"<p style="color:yellow">Brightside</a></li>
<li><a href="/bsides"<p style="color:pink">B-sides</a></li>
<li><a href="/CG5"<p style="color:purple">CG5</a></li>
<li><a href="/Corruption"<p style="color:darkred">Corruption</a></li>
<li><a href="/elegantnightdancin"<p style="color:grey">Elegant Night Dancin</a></li>
<li><a href="/everywhereattheendoffunk"<p style="color:black">Everywere At The End Of Funk</a></li>
<li><a href="/flipside"<p style="color:darkgreen">Flipside</a></li>
<li><a href="/hex"<p style="color:grey">VS. Hex</a></li>
<li><a href="/holonightfunkin"<p style="color:red">Holonight Funkin'</a></li>
<li><a href="/iphone"<p style="color:yellow">I ain't got no Iphone</a></li>
<li><a href="/kapi"<p style="color:grey">VS. KAPI</a></li>
<li><a href="/liz"<p style="color:purple">VS. Liz</a></li>
<li><a href="/vsmiku"<p style="color:blue">VS. Miku</a></li>
<li><a href="/minus"<p style="color:green">Minus</a></li>
<li><a href="/monika"<p style="color:pink">Monika</a></li>
<li><a href="/neo"<p style="color:darkblue">Neo</a></li>
<li><a href="/pumpkinpie"<p style="color:orange">pumkinpie</a></li>
<li><a href="/refresh"<p style="color:purple">Refresh</a></li>
<li><a href="/rosecriminal"<p style="color:brown">Roses-Criminal mod</a></li>
<li><a href="/saltyssundaynight"<p style="color:white">Salty's Sunday Night</a></li>
<li><a href="/starcatcher"<p style="color:purple">StarCatcher</a></li>
<li><a href="/touhou"<p style="color:green">Touhou</a></li>
<li><a href="/tricky"<p style="color:green">Tricky</a></li>
<li><a href="/trickybeatstreets"<p style="color:green">Tricky Beat Streets</a></li>
<li><a href="/ugh"<p style="color:black">High Effort Ugh 2.0</a></li>
<li><a href="/vibin"<p style="color:purple">Friday Night Vibin'</a></li>
<li><a href="/matt"<p style="color:brown">VS. Matt 2.0</a></li>
<li><a href="/tord"<p style="color:red">VS. Tord</a></li>
<li><a href="/XE"<p style="color:grey">VS. XE</a></li>
<li><a href="/xevent"<p style="color:grey">X Event</a></li>
<li><a href="/zardy"<p style="color:orange">VS. Zardy</a></li>
<li><a href="/anotherfridaynight"<p style="color:purple">Another Friday Night</a></li>
<li><a href="/vschara"<p style="color:green">VS. Chara</a></li>
<li><a href="/deepseadate"<p style="color:darkblue">Deep Sea Date mod</a></li>
<li><a href="/golf"<p style="color:white">Golf with carol ft. Hatsune Miku</a></li>
<li><a href="/smokeemoutstruggle"<p style="color:darkgreen">VS. Garcello (Smoke 'Em Out Struggle)</a></li>
<li><a href="/cye"<p style="color:blue">VS. Cye</a></li>
<li><a href="/h3llbeats"<p style="color:red">H3llBeats</a></li>
<li><a href="/da"<p style="color:green">Da G6mes</a></li>
<li><a href="/remixed"<p style="color:red">REMIXED</a></li>
<li><a href="/static"<p style="color:black">VS. Static</a></li>
<li><a href="/gacha"<p style="color:pink">Gacha Life mod</a></li>
<li><a href="/sussy"<p style="color:red"> VS. Impostor</a></li>
<li><a href="/sans"<p style="color:blue"> VS. Sans</a></li>
<li><a href="/kk"<p style="color:white"> VS. K.K. slider</a></li>
<li><a href="/circ"<p style="color:pink">Boyfriend's Circulation</a></li>
<li><a href="/csides"<p style="color:blue">C-sides</a></li>
<li><a href="/test"<p style="color:white">High Effort Test</a></li>
<li><a href="/vsgirlfriend"<p style="color:red">VS. Girlfriend</a></li>
<li><a href="/x-sides"<p style="color:purple">X-sides</a></li>
<li><a href="/badapple"<p style="color:black">Bad Apple</a></li>
<li><a href="/myra"<p style="color:purple">VS. Myra</a></li>
<li><a href="/fornitcard"<p style="color:blue">VS. MR. bloc u</a></li>
<li><a href="/fnfbutbad"<p style="color:red">FNF but bad</a></li>
<li><a href="/tabi"<p style="color:yellow">VS. EX (tabi)</a></li>
<li><a href="/dbcovers"<p style="color:black">DB covers</a></li>
<li><a href="/shaggy"<p style="color:darkgreen"> VS Shaggy</a></li>
<li><a href="/sussy2"<p style="color:red"> VS. Impostor part 2</a></li>
<li><a href="/funkybot"<p style="color:blue">Night of the Funky Bot</a></li>
<li><a href="/bob"<p style="color:white">VS. Bob</a></li>
<li><a href="/filipb"<p style="color:yellow">VS. Filip</a></li>
<li><a href="/badpiggies"<p style="color:greenyellow">VS. Pig</a></li>
  <li><a href="/whitman"<p style="color:green">VS. Whitty</a></li>












 <style>
body {
  background-image: url('https://snipergaming888.github.io/bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>